<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Control System Page</title>
    <link rel="stylesheet" th:href="@{/controlSystem.css}">

</head>

<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=IBM Plex Sans" rel="stylesheet"/>
    <title>Profile Page</title>
</head>

<body>
<nav>
    <div class="navbar">
        <ul>
            <li><a th:href="@{/home}">
                <button>Home</button>
            </a></li>
            <li><a th:href="@{/viewSystems}">
                <button>My Systems</button>
            </a></li>
            <li><a th:href="@{/viewProfile}">
                <button>My Profile</button>
            </a></li>
            <li><a th:href="@{/logOff}">
                <button>Log out</button>
            </a></li>
        </ul>
    </div>
</nav>
<section>
    <div class="title"> Chosen System Controls
    </div>

</section>
    <table align="center">
        <tr>
            <th align="center" bgcolor="white">Types of room illumination status</th>
        </tr>
        <tr>
            <td bgcolor="white" align="center">Dark:</td>
            <td bgcolor="white" align="center"><p>1000-1500</p></td>
        </tr>
        <tr>
            <td bgcolor="white" align="center">Medium Light:</td>
            <td bgcolor="white" align="center"><p>100-999</p></td>
        </tr>
        <tr>
            <td bgcolor="white" align="center">Light:</td>
            <td bgcolor="white" align="center"><p>0-99</p></td>
        </tr>
    </table>
<p>
</p>
<table align="center">
    <tr>
        <th align="center" bgcolor="white">Status of the selected system:</th>
    </tr>
    <tr>
        <td bgcolor="white" align="center">System ID:</td>
        <td bgcolor="white" align="center"><p th:text="${currentSystem.getId()}"></td>
    </tr>
    <tr>
        <td bgcolor="white" align="center">System ON/OFF:</td>
        <td bgcolor="white" align="center"><p th:text="${currentSystem.getStatus()}"></td>
    </tr>
    <tr>
        <td bgcolor="white" align="center">System light value:</td>
        <td bgcolor="white" align="center"><p th:text="${currentSystem.getLight()}"></td>
    </tr>

    <tr>
        <td bgcolor="white" align="center">System start date:</td>
        <td bgcolor="white" align="center"><p th:text="${currentSystem.getStartDate()}"></td>
    </tr>
</table>

<form action="#" th:action="@{/requestControlSystem}" th:object="${controlSystemForm}" method="post">
<label>Turn:</label>
    <input type="checkbox" th:text="ON" th:value="1" th:field="${controlSystemForm.status}">
    <input type="checkbox" th:text="OFF" th:value="0" th:field="${controlSystemForm.status}">
    <input type="submit" name="Submit">
</form>
</body>

</html>
<!-- partial -->

</body>

</html>